language: python
sudo: false
dist: trusty

compiler:
  - clang
  - gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - check
    - libssl-dev
    - python3-pip
    - valgrind
    - gcc-5
    - libc++-dev

cache:
  directories:
  - $HOME/libsodium
  - $HOME/libtrezor-crypto

python:
  - "3.5"
  - "3.6"
  - "pypy3"

install:
  - ./travis-install-libsodium.sh
  - pip install .[poc,dev,tcry]

script:
  - PYTHONPATH=.:$PYTHONPATH exec ./test-travis.sh

